<template name="editLandingPads">
  <div class="col-md-6">
    {{> newLandingPad stationId=stationId}}
  </div>
  {{#each landingPads}}
    <div class="col-md-6">
      <h2>A LANDING PAD</h2>
      {{> editLandingPad }}
    </div>
  {{/each}}
</template>

<template name="editLandingPad">
  {{#autoForm collection="Mart.Products" id="updateLandingPad" type="update"}}
    <fieldset>
      {{> afQuickField name='name'}}
      {{> afQuickField name='description'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Update Landing Pad</button>
  {{/autoForm}}

  <h3>Upload up to two images</h3>
  <h3>Photo 1</h3>
  {{> uploadImage collection="Products" index=1 objectId=_id
    originalUploader=(uploader "LandingPadsOriginal" 1 _id)
    optimizedUploader=(uploader "LandingPadsOptimized" 1 _id)
    thumbnailUploader=(uploader "LandingPadsThumbnail" 1 _id)
  }}

  <h3>Photo 2</h3>
  {{> uploadImage collection="Products" index=2 objectId=_id
    originalUploader=(uploader "LandingPadsOriginal" 2 _id)
    optimizedUploader=(uploader "LandingPadsOptimized" 2 _id)
    thumbnailUploader=(uploader "LandingPadsThumbnail" 2 _id)
  }}

</template>
