<template name="footers">
  {{> footer1}}
  {{> footer2}}
</template>

<template name="footer1">
  <div class="footer1 bg-gray p-a-3">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{aboutPath}}">About SpaceCadet</a></li> |
      <li class="list-inline-item"><a href="{{listSpacePath}}">List Your Space</a></li>
    </ul>
  </div>
</template>

<template name="footer2">
  <div class="footer2 bg-gray-dark p-l-3 p-y-2 text-gray-lighter">
    <p>SpaceCadet &copy; 2016</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{privacyPath}}">Privacy Policy</a></li> | 
      <li class="list-inline-item"><a href="{{termsPath}}">Terms of Service</a></li>
    </ul>
  </div>
</template>
