<template name="footers">
  <div class="footers">
    {{> footer1}}
    {{> footer2}}
  </div>
</template>

<template name="footer1">
  <div class="footer1 bg-gray p-a-3 row m-a-0">
    <div class="col-md-6">
      <ul class="list-inline">
        <li class="list-inline-item m-x-0"><a href="{{aboutPath}}">About SpaceCadet</a></li> |
        <li class="list-inline-item m-x-0"><a href="{{listSpacePath}}">List Your Space</a></li>
      </ul>
    </div>
    <div class="col-md-6 text-xs-right">
      {{> footer1SocialIcons}}
    </div>
  </div>
</template>

<template name="footer1SocialIcons">
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="http://facebook.com/spacecadet.io">
        <i class="fa fa-facebook-square fa-lg"></i>
      </a>
    </li>
    <li class="list-inline-item m-l-1">
      <a href="http://instagram.com/gospacecadet">
        <i class="fa fa-instagram fa-lg"></i>
      </a>
    </li>
    <li class="list-inline-item m-l-1">
      <a href="http://twitter.com/gospacecadet">
        <i class="fa fa-twitter fa-lg"></i>
      </a>
    </li>
  </ul>
</template>

<template name="footer2">
  <div class="footer2 bg-gray-dark p-l-3 p-y-1 m-a-0">
    <p class="m-b-0">SpaceCadet &copy; 2016</p>
    <ul class="list-inline">
      <li class="list-inline-item m-x-0"><a href="{{privacyPath}}">Privacy Policy</a></li> |
      <li class="list-inline-item m-x-0"><a href="{{termsPath}}">Terms of Service</a></li>
    </ul>
  </div>
</template>
