<template name="editStation">
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    {{#autoForm collection="Mart.Storefronts" id="updateStationForm" type="update"}}
      <fieldset>
        <legend>Edit Station</legend>
        {{> _sharedStationFields}}
        {{> afQuickField name='isPublished'}}
        {{> afQuickField name='isDeleted'}}
      </fieldset>
      <button type="submit" class="btn btn-primary">Update</button>
    {{/autoForm}}
  </div>
  <div class="col-md-5">
    <h2>Upload images</h2>
    <p>
      You may upload up to four photos. They will appear in the order that you upload.
    </p>

    <h3>Photo 1</h3>
    {{> uploadImage type="stations" index=1}}

    <h3>Photo 2</h3>
    {{> uploadImage type="stations" index=2}}

    <h3>Photo 3</h3>
    {{> uploadImage type="stations" index=3}}

    <h3>Photo 4</h3>
    {{> uploadImage type="stations" index=4}}
  </div>
</div>


</template>
