<template name="manageProperties">
<div class="container-fluid">
  <h2>Manage a property</h2>
  <div class="row">
    {{#each properties}}
      <div class="col-md-4">
        <div class="card col-md-4">
          <img class="card-img-top" src="{{thumbnailUrl}}" alt="Card image cap">
          <div class="card-block">
            <a href="{{editPropertyPath _id}}"><h4 class="card-title">{{name}}</h4></a>
            <a href="{{editPropertyPath _id}}"><p class="card-text">{{description}}</p></a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

</div>
</template>
