<template name='navbar'>
  <nav class="navbar navbar-light navbar-fixed-top bg-gray-lightest">
  <a class="navbar-brand" rel="home" href="/" title="Space Cadet">SpaceCadet
   <!-- <img style="max-width:100px; margin-top: -7px;"
        src="/logo.png" alt="SpaceCadet logo"> -->
 </a>
  <ul class="nav navbar-nav pull-xs-right">
    {{#if loggedIn}}
      <li class="nav-item active">
        <a class="nav-link" href="#">{{username}}</a>
      </li>
    {{else}}

    {{/if}}
  </ul>

</nav>
</template>
