<template name="creditCards">
{{#if hasCreditCards}}
  <form id="creditCardSelection">
    {{#each creditCards}}
      {{> creditCardRadio}}
    {{/each}}
  </form>
{{else}}
  <p>
    No credit cards, add one
  </p>
{{/if}}

{{#if addingCreditCard}}
  {{#autoForm schema="Mart.Card.notStoredSchema" id="createCardForm" type="normal" doc=this}}
    <fieldset>
      <legend>Card Details</legend>
      {{> afQuickField name='nameOnCard'}}
      {{> afQuickField name='number' type='text'}}
      {{> afQuickField name='expMonth' type='select' options=expMonthOptions}}
      {{> afQuickField name='expYear' type='select' options=expYearOptions}}
      {{> afQuickField name='cvc' type='text'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Add card to account</button>
    <button id="cancel-add-credit-card" class="btn btn-danger">Cancel</button>
  {{/autoForm}}
{{else}}
  <button id="add-credit-card" class='btn btn-default'>Add new credit card</button>
{{/if}}

</template>

<template name="creditCardRadio">
  <input type="radio" class="creditCardRadio" name="creditCardRadio" id="{{_id}}" value="{{_id}}">
  <label for="{{_id}}">{{label}}</label>
</template>
