.property-banner {
  min-width: 100%;
}

.property {
  border-style: solid;
  border-color: #C0C3C4;
  border-width: 0 0.25rem 0.25rem 0.25rem;
}

.space-tabs {
  background-color: #f6f6f6;
}

#space {
  color: black;
}
