<template name="editSpacePrices">
  {{#if hourlyPrice}}
    {{> editPrice price=hourlyPrice}}
  {{else}}
    {{> newPrice unit="hour" productId=_id}}
  {{/if}}

  {{#if dailyPrice}}
    {{> editPrice price=dailyPrice}}
  {{else}}
    {{> newPrice unit="day" productId=_id}}
  {{/if}}

  {{#if monthlyPrice}}
    {{> editPrice price=monthlyPrice}}
  {{else}}
    {{> newPrice unit="month" productId=_id}}
  {{/if}}
</template>

<template name="editPrice">
  {{#autoForm collection="Mart.Prices" id=id type="update" doc=price}}
    <fieldset>
      {{> afQuickField name='priceInCents'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Update price</button>
  {{/autoForm}}
</template>

<template name="newPrice">
  {{#autoForm collection="Mart.Prices" id=id type="insert"}}
    <fieldset>
      {{> afQuickField name='priceInCents'}}
      {{> afQuickField name='unit' type="hidden" value=unit}}
      {{> afQuickField name='productId' type="hidden" value=productId}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Set price</button>
  {{/autoForm}}
</template>
