<template name="spaces">
{{#each spaces}}
  {{> space}}
{{/each}}
</template>

<template name="space">
  <h2>{{name}} ({{unitPrice}})</h2>
  <h3>{{description}}</h3>
  {{#autoForm collection="Mart.LineItems" id="insertLineItemForm" type="insert"}}
    <fieldset>
      {{> afQuickField name='quantity'}}
      {{> afQuickField name='cartId' type='hidden' value=cartId}}
      {{> afQuickField name='productId' type='hidden' value=_id}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Make a booking</button>
  {{/autoForm}}
</template>
