<template name="spaceTopForUnit">
  <div class="row">
    {{#if hourlySelected}}
    <p>
      Select a start day, start time, and number of hours.
    </p>
    <form class="form-inline">
      <div class="form-group">
        <label for="hourly-start-date">Start date</label>
        <input type="date" class="form-control" id="hourly-start-date">
      </div>
      <div class="form-group">
        <label for="hourly-start-hour">Start hour</label>
        <select class="form-control" id="hourly-start-hour">
          {{#each hours}}
            <option value="{{value}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="hourly-start-minute">Start minute</label>
        <select class="form-control" id="hourly-start-minute">
          {{#each minutes}}
            <option value="{{value}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="hourly-num">Number hours</label>
        <select class="form-control" id="hourly-num">
          {{#each hourlyNums}}
            <option>{{this}}</option>
          {{/each}}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Update search</button>
    </form>
    {{/if}}
    {{#if dailySelected}}
    <p>
      Select a start day and number of day.
    </p>
      <form class="form-inline">
        <div class="form-group">
          <label for="daily-start-date">Start date</label>
          <input type="datetime" class="form-control" id="daily-start-date">
        </div>
        <div class="form-group">
          <label for="hourly-num">Number days</label>
          <select class="form-control" id="hourly-num">
            {{#each dailyNums}}
              <option>{{this}}</option>
            {{/each}}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Update search</button>
      </form>
    {{/if}}
    {{#if monthlySelected}}
      <p>
        Select a start month and number of months.
      </p>
      <form class="form-inline">
        <div class="form-group">
          <label for="monthly-start-date">Start date</label>
          <input type="text" class="form-control" id="monthly-start-date">
        </div>
        <div class="form-group">
          <label for="monthly-num">Number of months</label>
          <input type="number" class="form-control" id="monthly-num">
        </div>
        <button type="submit" class="btn btn-primary">Update search</button>
      </form>
    {{/if}}
  </div>
</template>
