<template name="login">
  {{#if signingIn}}
    {{> signIn}}
  {{/if}}

  {{#if shopperSigningUp}}
    {{> signUp}}
  {{/if}}

  {{#if merchantSigningUp}}
    {{> merchantSignUp}}
  {{/if}}
</template>

<template name="signIn">
{{#autoForm schema="Mart.Accounts.SignInSchema" id="signInForm"}}
  <fieldset>
    {{> afQuickField name='email' type='email'}}
    {{> afQuickField name='password' type='password'}}
  </fieldset>
  <button type="submit" class="btn btn-primary">Sign In</button> or
  {{> shopperSignUpInsteadButton}} or
  {{> merchantSignUpInsteadButton}}
{{/autoForm}}
</template>

<template name="signUp">
  {{#autoForm schema="Mart.Accounts.ShopperSignUpSchema" id="signUpForm"}}
    <fieldset>
      {{> afQuickField name='email' type='email'}}
      {{> afQuickField name='password' type='password'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Sign Up</button> or
    {{> signInInsteadButton}} or
    {{> merchantSignUpInsteadButton}}
  {{/autoForm}}
</template>

<template name="shopperSignUpInsteadButton">
  <button class="btn btn-link" id='sign-up-instead'>Sign Up Instead</button>
</template>

<template name="merchantSignUpInsteadButton">
  <button class="btn btn-link" id='merchant-sign-up-instead'>Sign Up as a Merchant</button>
</template>

<template name="signInInsteadButton">
  <button class="btn btn-link" id='sign-in-instead'>Sign In Instead</button>
</template>
