<template name="paymentProcessors">
  {{#each paymentProcessors}}
    {{> paymentProcessor}}
  {{/each}}
</template>

<template name="paymentProcessor">
  <h3>{{processorName}}</h3>

  <h4>{{businessName}}</h4>
  <h4>{{businessURL}}</h4>
  <p>Details Submitted: {{detailsSubmitted}}</p>
  <!-- <p>Account Verified: {{accountVerified}}</p>//verification -->

  <!-- <p>Charges Enabled: {{chargesEnabled}}</p>

  <p>Transfers Enabled: {{transfersEnabled}}</p>
  <p>Transfer Schedule: {{transferSchedule}}</p> -->
</template>
